@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes slide-in {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.animate-slide-in {
  animation: slide-in 0.5s ease-in-out forwards; /* 속도와 타이밍 함수 조절 가능 */
}

.swiper-slide {
  transition: opacity 0.3s ease-in-out; /* 부드러운 전환 효과 */
  opacity: 0.5; /* 기본 투명도 (활성 슬라이드가 아닐 때) */
}

.swiper-slide-active {
  opacity: 1; /* 활성 슬라이드의 투명도 */
}

.swiper-button {
  display: hidden;
}

.swiper-button-prev {
  background: url(/prev.png) no-repeat;

  background-size: 100% auto;
  background-position: cover;
}

.swiper-button-next {
  background: url(/next_button.png) no-repeat;

  background-size: 100% auto;
  background-position: cover;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

/* 스크롤바 숨기기 (크롬, 사파리 등 Webkit 브라우저) */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* 스크롤바 숨기기 (IE, Edge) */
.hide-scrollbar {
  -ms-overflow-style: none;
}

/* 스크롤바 숨기기 (파이어폭스) */
.hide-scrollbar {
  scrollbar-width: none;
}

.map-default-color {
  color: #f7f7f7 !important; /* 기본 색상 */
}

.map-selected-color {
  color: #FF6347 !important; /* 선택 시 변경될 색상 (예: 토마토색) */
}